nav {
  background-color: rgb(91, 4, 102);
  @include clearfix;

  span {
    float: right;

    * {
      color: white;
      background: none;
      border: none;
      text-transform: uppercase;
      height: 50.1px;
      margin: 0 10px;
      cursor: pointer;
      outline: none;

      &:hover {
        color: rgb(165, 162, 162);
      }

      &::-moz-focus-inner {
        border: 0;
      }
    }

    select {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      color: rgba(256, 256, 256, 0);
      text-shadow: 0 0 0 #fff;
      text-align: center;
      text-align-last: center;
      width: 175px;

      option {
        background-color: black;
        text-transform: capitalize;
        color: white;
      }

      &:active,
      &:focus {
        color: rgba(0, 0, 0, 0);
        text-shadow: 0 0 0 #fff;
      }
    }
  }

  h3 {
    margin: 15px;
    font-size: 1.6rem;
    float: left;
    color: white;
  }
}

.disabled {
    color: rgb(165, 162, 162);
}